#VS code settings
Estrutura de dados/Diego/Trabalho-1-ED/.vscode
Estrutura de dados/Diego/Trabalho-1-ED/.code-workspace

#Arquivo de teste
Estrutura de dados/Diego/Trabalho-1-ED/teste.txts
Estrutura de dados/Diego/Trabalho 2/programa.out
